body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*conteiner*/

.div_conteiner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
}

/*Menu Lateral Direito*/
.div_menuLateralEsquerda {
    display: flex;
    background-color: #c0c0c063;
    position: fixed;
    width: 23%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.div_menuLateralEsquerda .div_logo img {
    width: 200px;
    height: 106px;
    margin-top: 10px;
}

.div_botoesInterativos {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    height: 68%;
}

.div_botoesInterativos ul {
    list-style: none;
    padding: 0px 0px 0px 0px;
    height: 50%;
}

.div_botoesInterativos ul div {
    display: flex;
    width: 204.89px;
    height: 20px;
    margin-top: 50px;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.3s;
}

.div_botoesInterativos ul div:hover {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    height: 25px;
}

.div_botoesInterativos ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.div_botaoSair {
    width: 204.89px;
    display: flex;
    height: 30px;
    height: 68px;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.div_botaoSair button {
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 204.89px;
    transition: 0.3s;
}

.div_botaoSair button:hover {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
    height: 25px;
}

/*Centro*/






/*Menu Lateral Direito*/
.div_menuLateralDireito {
    background-color: #c0c0c063;
    right: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.div_TextoPrincipal {
    font-size: 16px;
    margin-top: 22px;
}

.div_TextoBorda {
    width: 88%;
    border-bottom: 4px solid #D4AF37;
    margin-top: -21px;

}
.div_PrincipaisAssuntos{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
}
/* .div_PrincipaisAssuntos ul div {
    display: flex;
    width: 204.89px;
    height: 20px;
    margin-top: 100px;
    cursor: pointer;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* font-size: 18px; */


.div_PrincipaisAssuntos ul {
    list-style: none;
    /* display: flex; */
    padding: 0px 0px 0px 0px;
    height: 25%;
}

.div_PrincipaisAssuntos ul li a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.div_botaoPublicar {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 52px;
    cursor: pointer;
}

.div_botaoPublicar:hover {
    width: 85px;
    height: 85px;

}

.div_botaoPublicar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#id_DadosDono{   
    line-height: 1.5;
}
#span_1{
    color:black;
    font-size: 11px;
}
#span_2{

    color:blue;
    font-size: 11px;

}
#span_3{
    color:black;
    font-size: 16px;
}