.div_centroConteudo {

    width: 77%;
    margin-left: 23%;
    margin-right: 0%;
    height: 633px;
    background-color: #c0c0c0b5;
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
}

/*PRIMEIRA PARTE*/

.div_PrimeiraParte {

    height: 633px;
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;

}

.titulo_Projetos {
    display: flex;
    width: 248px;
    height: 53px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    color: white;
    border-radius: 14px;
    margin-top: 13px;
    align-content: center;
    box-shadow: 4px 7px 13px #000000b8;
}

.div_projeto1 {
    width: 758px;
    height: 119px;
    border-radius: 10px;
    background-color: #8000204d;
    box-shadow: 4px 7px 13px #000000b8;
    display: flex;
    flex-direction: row;
}

.div_projeto2 {
    width: 758px;
    height: 119px;
    border-radius: 10px;
    background-color: #8000204d;
    box-shadow: 4px 7px 13px #000000b8;
    display: flex;
    flex-direction: row;
}

.div_projeto3 {
    width: 758px;
    height: 119px;
    border-radius: 10px;
    background-color: #8000204d;
    box-shadow: 4px 7px 13px #000000b8;
    display: flex;
    flex-direction: row;
}

.linha1 {
    height: 33%;
    /* width: 14%; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;

}

.linha1 span {
    margin-left: 6px;
}

.linha2 {
    height: 33%;
    /* width: 14%; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.linha2 span {
    margin-left: 6px;
}

.linha3 {
    height: 33%;
    /* width: 14%; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.linha3 span {
    margin-left: 6px;
}

.div_textoP {
    width: 50%;
}

.div_img {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.div_img img {
    width: 66px;
    height: 66px;
    cursor: pointer;
}

/*SEGUNDA PARTE*/

.div_SegundaParte {
    width: 86%;
    margin-top: 10px;
    height: 610px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: #8000204d;
    box-shadow: 4px 7px 13px #000000b8;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.div_SegundaParte span {
    margin-left: 8px;
}

.div_SegundaParte input {
    border: none;
    border-radius: 5px;
    width: 222px;
    height: 33px;
    padding: 3px 6px 4px 7px;
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
}

.div_SegundaParte textarea {
    resize: none;
    border: none;
    border-radius: 5px;
    width: 537px;
    height: 100px;
    padding: 3px 6px 4px 7px;
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
}

.div_SegundaParte select {
    border: none;
    border-radius: 5px;
    width: 152px;
    height: 32px;
    font-family: "Source Code Pro", monospace;
}



.linhaSP_1 {
    display: flex;
    height: 14%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    word-break: break-word;
}

.linhaSP_2 {
    display: flex;
    height: 14%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    word-break: break-word;
}


.linhaSP_4 {
    display: flex;
    height: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    word-break: break-word;
}

.linhaSP_5 {
    display: flex;
    height: 14%;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    word-break: break-word;
}

.linhaSP_6 {
    display: flex;
    height: 14%;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.linhaSP_6 button {
    margin-left: 25px;
    border: none;
    width: 173px;
    height: 48px;
    font-weight: bold;
    color: white;
    background-color: #00008073;
    border-radius: 26px;
    cursor: pointer;
    font-family: "Source Code Pro", monospace;
    font-size: 14px;
}

/*Segunda Parte B*/

.div_SegundaParteB {
    width: 86%;
    margin-top: 10px;
    height: 610px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: #8000204d;
    box-shadow: 4px 7px 13px #000000b8;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.div_SegundaParteB span {
    margin-left: 8px;
}

/*Terceira Parte - Adição de requisitos*/

.div_TerceiraParte {
    width: 86%;
    margin-top: 10px;
    height: 610px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: #8000204d;
    box-shadow: 4px 7px 13px #000000b8;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.linhaTP_1 {
    display: flex;
}

.div_img2 {
    top: 25px;
    left: 417px;
    position: fixed;
}

.div_img2 img {
    width: 41px;
    height: 40px;
    cursor: pointer;
}

.titulo {
    display: flex;
    width: 248px;
    height: 53px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    color: white;
    border-radius: 14px;
    margin-top: 13px;
    align-content: center;
    box-shadow: 4px 7px 13px #000000b8;
}

.div_conterRequisitos {
    margin-top: 8px;
    width: 80%;
    height: 65%;
    overflow-y: scroll;
    box-shadow: 4px 7px 13px #000000b8;
    background-color: #00008073;
    border-radius: 8px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.div_AdicionarRequisitos {
    margin-top: 21px;
    display: flex;
    width: 80%;
    justify-content: flex-end;
}

.div_AdicionarRequisitos button {
    margin-left: 25px;
    border: none;
    width: 173px;
    height: 48px;
    font-weight: bold;
    color: white;
    background-color: #00008073;
    border-radius: 26px;
    cursor: pointer;
    font-size: 14px;
}

.div_requisitos {
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #8000204d;
    border-radius: 8px;
    box-shadow: 4px 7px 13px #000000b8;
}

.div_requisitos .div_textoReq {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    word-break: break-word;

}

.div_requisitos .div_imagens {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div_imgQuadrado img {
    width: 41px;
    height: 40px;
    cursor: pointer;
}

.div_requisitos .span_bold {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.div_requisitos .span_texto {
    color: #ffffffbd;
    font-weight: bold;
    font-size: 15px;

}



/*Terceira Parte B*/

.div_TerceiraParteB {
    padding: 0px;
    /* border: 2px solid black; */
    width: 99vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_TerceiraParteB textarea {
    padding: 5px;
    resize: none;
    min-height: 46%;
    max-height: 60%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 5px;
    font-family: "Source Code Pro", monospace;
}

.div_TerceiraParteB input {
    padding: 5px;
    resize: none;
    min-height: 9%;
    max-height: 15%;
    max-width: 100%;
    min-width: 100%;
    border-radius: 5px;
    border: 0.5px solid gray;
    font-family: "Source Code Pro", monospace;
}

.div_textArea2 {
    padding: 20px;
    width: 58%;
    height: 60%;
    background-color: white;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-radius: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.div_textArea2 img {
    object-fit: cover;
    height: 50px;
    cursor: pointer;
    margin-top: 15px;

}

#div_img_textArea {
    margin-left: -19px;
    margin-top: -30px;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;

}

#img_textArea {
    object-fit: cover;
    height: 26px;
    cursor: pointer;
    margin-top: -33px;
}

.input_indicacao {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*QUARTA PARTE - GRÁFICOS*/

.div_QuartaParte {
    width: 86%;
    margin-top: 10px;
    height: 610px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: #8000204d;
    box-shadow: 4px 7px 13px #000000b8;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.linhaQP_1 {
    display: flex;
}

.titulo2 {
    display: flex;
    width: 248px;
    height: 53px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    color: white;
    border-radius: 14px;
    margin-top: 13px;
    align-content: center;
    box-shadow: 4px 7px 13px #000000b8;
}

.div_img3 {
    top: 25px;
    left: 417px;
    position: fixed;
}

.div_img3 img {
    width: 41px;
    height: 40px;
    cursor: pointer;
}

/*span pertidos*/

.div_SegundaParteB #span_1 {
    color: #ffffffbd;
    font-weight: bold;
    font-size: 16px;
}

.div_SegundaParteB #span_2 {
    color: #ffffffbd;
    font-weight: bold;
    font-size: 16px;
}

.div_SegundaParteB #span_3 {
    color: #ffffffbd;
    font-weight: bold;
    font-size: 16px;
}

.div_SegundaParteB #span_4 {
    color: #ffffffbd;
    font-weight: bold;
    font-size: 16px;
}

/*tela Gráfico*/

.div_QuartaParte .div_ParteUm {

    width: 48%;
    height: 93%;
    box-shadow: 4px 7px 13px #000000b8;
    background-color: #00008073;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

.div_QuartaParte .div_ParteDois {

    display: flex;
    width: 48%;
    height: 93%;
    box-shadow: 4px 7px 13px #000000b8;
    background-color: #00008073;
    border-radius: 26px;
    align-content: center;
    justify-content: center;
    align-items: center;

}



.div_QuartaParte .div_ParteQuatro {

    display: flex;
    width: 98%;
    height: 90%;
    box-shadow: 4px 7px 13px #000000b8;
    background-color: #00008073;
    border-radius: 26px;
    margin-top: -25px;
    justify-content: center;
    align-items: center;
}

.div_QuartaParte .linhaQP_2 {
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.div_QuartaParte .linhaQP_3 {
    height: 50%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

#kpi_titulo {
    font-weight: bold;
    font-size: 25px;
    margin-top: -10px;
}

#kpi_requisitos {
    font-weight: bold;
    font-size: 70px;
    color: #ffffffbd;
}