.div_containerMain{
    display: flex;
    height: 511px;
    background-color: #C0C0C0;
    
}
.div_mainImg{
    background-image: url(../img/backgroundCLcorreto.png);
    background-repeat: no-repeat;
    width: 50%;
    
}
.div_mainConteudo{
    display:flex;
    flex-direction: column;
    /* border: 3px solid white; */
    width: 50%;
}
.div_mainTitulo{
    display: flex;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.div_mainTituloBorda{
    width: 40%;
    border-bottom: 4px solid #D4AF37;
    margin-top: -21px;
}
.div_mainInputs{
    margin-top: -10px;
    margin-left: 70px;
}
.input_custom{
    border:none;
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 80%;
    margin-top: 45px;
}
.input_custom::placeholder{
    color:black;
    font-style: 'Lato', sans-serif;
    padding: 10px; 
    font-size: 16px;
}
.div_mainCadastrar{
    display: flex;
    height: 142px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.div_mainCadastrar button{
    background-color: #000080;
    opacity: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 40%;
    border-radius: 10px;
}
.div_mainCadastrar span{
    text-decoration: underline;
    cursor:pointer;
}
/*LOGIN*/
.div_mainInputsLogin{
    margin-top: 32px;
    margin-left: 70px;
}
.input_customLogin{
    border:none;
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 80%;
    margin-top: 76px;
}
.input_customLogin::placeholder{
    color:black;
    font-style: 'Lato', sans-serif;
    padding: 10px; 
    font-size: 16px;
}
.div_mainCadastrarLogin{
    display: flex;
    height: 142px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.div_mainCadastrarLogin button{
    background-color: #000080;
    opacity: 50%;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 40%;
    border-radius: 10px;
    cursor:pointer;
}
.div_mainCadastrarLogin span{
    text-decoration: underline;
    cursor:pointer;
}